* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0b0b;
    color: #e5e7eb;
    font-family: system-ui, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

/* Main wrapper */
.wrapper {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.not-found {
  color:#e5e7eb;
  text-align: center;
  font-size: 1.5rem;
  width: 100%; /* Ensures it takes up the whole row */
  margin-top: 20px;
}
/* Search bar */
.inp {
    padding: 12px 20px;
    width: 260px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #1e1818;
    color: #ccc;
    font-size: 15px;
}

.search-input::placeholder {
    color: #777;
}

/* Cards container */
.cards {
    display: flex;
    gap: 40px;
}

/* Card */
.card {
    position: relative;
    width: 280px;
    height: 180px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #3b1010;
}

/* Background image */
.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Blur overlay */
.blurred-layer {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(1px);
}

/* Content on top */
.content {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    z-index: 2;
}

.content h3 {
    font-size: 18px;
    margin-bottom: 6px;
}

.content p {
    font-size: 13px;
    color: #cbd5f5;
    line-height: 1.4;
}
body {
  overflow-x: hidden;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 280px;
}
